* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.enlaces {
    display: inline-block;
    text-decoration: none;
    background-color: crimson;
    color: #fff;
    padding: 40px 30px;
    
}

.box {
    background-color: gray;
    height: 100px;
    width: 100px;
    display: inline-block;
    margin-top: 40px;

}

.box2 {
    background-color: blueviolet;
    margin-left: 30px;
}


.header {
    height: 400px;
    background-color: crimson;
    color: white;
    border: 3px solid black;
    text-align: center;
}

.title {
    text-align: initial; /*No esta heredando*/
    /* font-weight: initial; */
}

.copy {
    border: inherit; /*heredando la prop del padre*/
}
/* .title {
    font-size: 10px;
    color: purple !important;
}

body>header>h2.title#title {
    font-size: 40px;
    color: darkcyan;
} */

h1 {
    font-family: serif;
    color: blueviolet;
}

#page-title {
    font-family: sans-serif;
    color: blue;
    width: 100%;
}

.title {
    font-family: monospace;
    width: 50px;
    color: chartreuse;
    margin: 0 auto;
}










