@import url('https://fonts.googleapis.com/css2?family=Anton&family=Balsamiq+Sans&family=Bangers&family=Caveat:wght@500&family=Handlee&family=Inter:wght@300;400;500;700&family=Lato:ital,wght@0,400;0,700;1,300&family=Merienda:wght@700&family=Monoton&family=Patua+One&family=Permanent+Marker&family=Poppins:wght@300;400;500;700&family=Raleway:ital,wght@0,300;0,400;0,700;1,300;1,400;1,600&family=Roboto:ital,wght@0,500;1,300;1,400&family=Sen&family=Special+Elite&family=Titan+One&family=Zilla+Slab:ital,wght@1,300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: #2a265f; */
    font-family: 'Raleway';
}

.container {
    background-color: #fff;
    width: 70%;
    margin: 30px auto;
    padding: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .2);
    text-align: center;
}

.h1 {
    text-align: center;
    /* line-height: 500px; */
}

.copy {
    /* text-align: justify; */
    padding: 10px 0;
    /* letter-spacing: 1px; */
    /* word-spacing: 15px; */
    text-transform: initial;
    /* line-height: 20px; */
    font-family: 'Raleway';
    font-weight: 600;

}

/* .bold {
    color: crimson;
    font-weight: bolder;
    font-size: 20px;
} */


.img {
    height: 300px;
}

.enlace {
    color: black;
    display: inline-block;
    /* text-decoration: line style color */
    text-decoration-line: underline;
    text-decoration-style: dashed;
    text-decoration-color: rgb(117, 86, 146);

    text-decoration: underline wavy blue;
    text-decoration: none;
    border: 1px solid;
    padding: 10px 25px;
}


.card {
    /* background-color: #2a265f; */
    background-image: url(yellow-sneakers.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 400px;
    color: black;
    margin: 40px auto;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 5px 10px 30px -9px black;
    text-align: center;
}

.title {
    text-align: initial;
    font-size: 30px;
    border-bottom: 3px solid rgba(0, 128, 0, 0.473);
    padding-bottom: 7px;
    margin-bottom: 30px;
}

.text {
    font-weight: 600;
    margin-bottom: 15px;
    text-align: left;
    line-height: 2;
}

.bold {
    font-weight: bold;
}

.cta {
    background-color: white;
    display: inline-block;
    color: black;
    text-decoration: none;
    border: 1px solid white;
    border-radius: 3px;
    padding: 10px 20px;
    box-shadow: 5px 5px 10px black;
}