* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F6F6FE;
    font-family: sans-serif;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* .contenedor {
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    background-color: aqua;
} */


